.SensorTiles {
    display: grid;
    gap: 20px;
    justify-items: center; 
    margin-top: 20px;
}
  
.PaginationButtonsWrapper {
    grid-column: 1 / -1; 
    justify-self: center;
    margin-top: 20px;

}